.header_layout{
  max-width: 1440px !important;
  width: 72%; // 100% - 28%
  height : 20%;
  display: flex;
  padding: 5% 14%;
  .header_half{
    width: calc(50%);
    display: flex;
    .header_title{
      font-family: Roboto, sans-serif;
      font-weight: 900;
      font-size: 30px;
      line-height: 35px;
    }
    & > ul{
      list-style: none;
      display: flex;
      padding : 0;
      margin : 0 0 0 auto;
      .header_category{
        position : relative;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        cursor : pointer;
      }
      .header_category + .header_category{
        margin-left : 60px;
      }
    }
    .header_name{
      margin-left : auto;
      font-family: Roboto, sans-serif;
      font-size : 19px;
      line-height : 40px;
      text-align : center;
      margin-right : 3%;
    }
    .header_profile{
      background : #C4C4C4;
      width : 40px;
      height : 40px;
      border-radius : 50%;
    }
  }
}
