.header_wrapper {
  height: 70px;
}

.header_layout {
  width: 100vw;
  height: 70px;
  padding: 0 164px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #D0D3D8;
  z-index: 10;

  .header_half {
    display: flex;

    .header_title {
      display: flex;
      align-items: center;
      margin-right: 91px;

      .logo {
        width: 41.65px;
        height: 40px;
        margin-right: 10px;
      }

      .logo_title {
        width: 85.11px;
        height: 20px;
      }
    }

    & > ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;

      .header_category {
        position: relative;
        font-size: 20px;
        color: #262A2F;
        white-space: nowrap;
        cursor: pointer;

        &.clicked {
          color: #7DC9A2;
        }
      }

      .header_category + .header_category {
        margin-left: 60px;
      }
    }
  }
}

.header_name_wrapper {
  display: flex;

  & > a + a {
    margin-left: 70px;
  }

  .header_name {
    font-size: 17px;
    line-height: 40px;
    color: #46494E;

    &:hover {
      color: #7DC9A2;
    }
  }
}
