* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Noto Sans CJK KR, Noto Sans KR;
  font-style: normal;
}

body,
html {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  width: 100%;
  max-width: 1440px;
}

.bold {
  font-weight: bold;
}

.right {
  margin-right: 0 !important;
}
