.pr_layout {
  max-width: 1440px !important;
  width: 76%; // 100% - 28%
  padding: 0 12%;
  margin-top: 4%;
  display: flex;
  .pr_left {
    margin-left: 10%;
    font-size: 21px;
    font-weight: bold;
  }
  .pr_right {
    margin-left: auto;
    .pr_half {
      width: 360px;
      text-align: center;
      .pr_circle {
        border-radius: 50%;
        background: #DCDCDC;
        width: 10px;
        height: 10px;
        display: inline-block;
        z-index: 2;
      }
      .pr_line {
        border: 1px solid #DCDCDC;
        width: 80px;
        display: inline-block;
        margin-bottom: 4.5px;
      }
      .pr_text {
        margin-top: 19px;
        width: 90px;
        font-size: 13px;
        letter-spacing: -0.075em;
        display: inline-block;
        text-align: center;
        color: #DCDCDC;
      }
    }
  }
}
